{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h1 >Welcome to the signup</h1>
        On this site, you can sign up to obtain the necessary credentials for access to the simulators.
    </div>
  </div>
  <div class="row justify-content-center">

    <h1 >Your user information</h1>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <h2>Data privacy</h2>
        By registering you agree to our rules on data privacy:
        <ul>
          <li>This is still a young project. Consider frequent changes the norm.</li>
          <li>You remain the full owner of any of the data that you submit. Any host trying it differently should be ashamed.</li>
          <li>The host of this site is not allowed to sell any of the data you created to third parties.</li>
          <li>The host of this site is not allowed to use any of the algorithms that you submitted</li>
          <li>We will try to improve privacy step-by-step. However, this is a long process and we greatly welcome your support.</li>
          <li>We store cookies for login.</li>
          <li>No tracking of site visits.</li>
        </ul> 
        The data are currently stored in the following fashion:
        <ul>
          <li>This runs as a heroku app on european servers.</li>
          <li>The submitted jobs are saved on a Dropbox.</li>
          <li>The jobs are processed on a third-party back-end engine, no personal information are stored there.</li>
        </ul>
        For comments and more information see the <a href="https://github.com/alqor-UG/qlued">source code</a>.<br>
      <input type="submit" value="Register !">
    </form>
  </div>
</div>
{% endblock %}
