{% extends "base.html" %}

{% load static %}
{% block content %}
    <h1 style="color:hite;">Welcome to Qlued</h1>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <h3>QISKIT</h3>
      <ul>
        <li>      <a href="https://github.com/Qiskit-Extensions/qiskit-cold-atom/blob/main/docs/tutorials/07_squeezing_in_qudits.ipynb" target="_blank" rel="noopener noreferrer">Squeezing on a single qudit</a></li>
        <li>      <a href="https://github.com/Qiskit-Extensions/qiskit-cold-atom/blob/main/docs/tutorials/03_fermionic_tweezer_hardware.ipynb" target="_blank" rel="noopener noreferrer">Interacting fermions in a tweezer</a></li>
      </ul>

      <h3>Pennylane</h3>
      <p>
        At the beginning, we also performed some tries with Pennylane. However, the development <a href="https://github.com/synqs/pennylane-ls/" target=_blank">on the github</a> was stopped as far as we know. If you would like to have a look into the early tries, please see and have fun.
      </p>
    </div>
  </div>
</body>
</html>
{% endblock %}
