<!doctype html>
<html lang="en">

<head>
  {% load csp %}
  <!-- Load the static javascript such that it is compatible with the csp -->
  {% load static %}
  <!-- Meta information -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--  CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <title>qlued</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon" nonce="{{ csp_nonce }}">
  <meta name="Description" content="A quantum hardware simulator.">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Qlued</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'index'%}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'profile'%}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'account_logout'%}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'account_login'%}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'devices'%}">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
  <nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-lg">
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFooter"
        aria-controls="navbarFooter" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav collapse navbar-collapse" id="navbarFooter">
            <a class="nav-link nav-item" href="/api/v2/docs">API</a>
            <a class="nav-link nav-item" href="https://alqor-ug.github.io/qlued/v0.2/">Documentation</a>
            <a class="nav-link nav-item" href="{% url 'about'%}">About</a>
      </div>
</div>
</nav>
</body>

</html>